body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

canvas {
  background: #222;
  box-shadow: 0 0 20px #0f0;
}
